@import '../../../styles/settings.module.scss';

.component {
  border-bottom: 1px solid;
  padding: $base-size;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-dark;

  &:last-of-type {
    border-bottom: none;
  }

  p {
    margin: 0;
    flex: 1;
    text-align: center;
  }
}

.buttons {
  flex: 3;
  display: flex;
  justify-content: flex-end;

  a {
    margin-left: $base-size;
  }
}
