@import '../../../styles/settings.module.scss';

.component {
  padding: $base-size;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    text-align: center;
    width: 70px;
  }

  &:last-of-type {
    border-bottom: none;
  }
}
