@import '../../../styles/settings.module.scss';

.component {
  padding: 2 * $base-size;
  flex: 1 0 50%;
  padding-top: 0;

  h3 {
    margin: 0;
    padding: $base-size 0;
    display: inline-block;
    margin-right: $base-size;
  }

  input[type=number] {
    width: 4 * $base-size;
    height: 1.5 * $base-size;
  }

  &.active {
    .icon {
      transform: scale(-1);
    }
    .params {
      opacity: 1;
      max-height: 1000px;
    }
  }
}

.header {
  cursor: pointer;
  padding: 2 * $base-size 0;
  &.default {
    cursor: default;
  }
  .icon {
    transition: $transition;
  }
}

.params {
  opacity: 0;
  max-height: 0;
  transition: $transition;
  overflow: hidden;
}

.summary {
  margin-top: 2 * $base-size;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
