$color-light: #fff;
$color-dark: #222f3e;
$color-background: #F8EFBA;
$color-primary: #58B19F;
$color-secondary: #BDC581;
$color-success: #25CCF7;

$font-header: 'Montserrat', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;

@mixin p-el($element) {
  &:#{$element}, &::#{$element} {
    position: absolute;
    @content;
  }
}
