@import '../../../styles/settings.module.scss';

.component {
  padding: $base-size;
  background: $color-light;
  border-radius: $radius;
  margin: $base-size 0;

  h3 {
    margin: 0;
    padding-bottom: $base-size;
  }

  p {
    margin: 0;
    text-align: center;
    width: 70px;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  padding: $base-size;
}

.items {
  border: 1px solid;
  border-radius: $radius;
}
