@import '../../../styles/settings.module.scss';

.component {
  background: $color-light;
  border-radius: $radius;
  margin: $base-size 0;
  padding: 0 2 * $base-size;

  h3 {
    margin: 0;
    display: inline-block;
    margin-right: $base-size;
    padding-top: $base-size 0;
  }

  p {
    margin: 0;
    text-align: center;
    width: 70px;
  }

  &.active {
    .icon {
      transform: scale(-1);
    }
    .basket {
      opacity: 1;
      max-height: 1000px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 2 * $base-size 0;
  &.default {
    cursor: default;
  }
  .icon {
    transition: $transition;
  }
  .summary {
    display: flex;
    align-items: center;
    p {
      width: 10 * $base-size;
    }
  }
}

.basket {
  opacity: 0;
  max-height: 0;
  transition: $transition;
  overflow: hidden;
  .info {
    display: flex;
    justify-content: space-around;
    padding: $base-size;
  }
  .items {
    border: 1px solid;
    border-radius: $radius;
    margin-bottom: 2 * $base-size;
  }
}
