@import '../../../styles/settings.module.scss';

.title {
  margin: 2 * $base-size;
  display: inline-block;
}

.loading {
  display: inline-block;
}

.component {
  padding: 2 * $base-size;
  background-color: $color-light;
  border-radius: $radius;

  h3 {
    margin: $base-size;
  }
}

.info {
  padding: $base-size;
  padding-bottom: 0;
  display: flex;
  justify-content: space-around;
  p {
    margin: 0;
    width: 7 * $base-size;
    text-align: center;
  }
}

.loading {
  //position: absolute;
  //transform: translateX(-8 * $base-size);
}
