@import '../../../styles/settings.module.scss';

.component {
  margin-bottom: 2 * $base-size;
  background: $color-dark;
  height: 4 * $base-size;

  a {
    display: inline-block;
    font-size: (1.5 * $base-size);
    line-height: 4 * $base-size;
    background: $color-dark;
    color: $color-light;
    padding: 0 $base-size;

    &:first-child {
      margin-left: $base-size;
    }

    &:global(.active) {
      background: $color-background;
      color: $color-dark;
    }

  }
}
