@import '../../../styles/settings.module.scss';

.component {
  h2 {
    margin: 2 * $base-size;
  }
  p {
    display: inline-block;
  }
}

.products {
  background: $color-light;
  border-radius: $radius;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2 * $base-size;
}
