@import '../../../styles/settings.module.scss';

.component {
  background-color: $color-light;
  border: 1px solid;
}

.product {
  background-color: $color-light;
  border: 1px solid;
  margin: $base-size;
}
